@use "../../styles/_media-querries.scss" as *;
@use "../../styles/_global.scss" as *;

.video-player {
  width: 100%;
  background-color: black;

  @include tablet {
    padding: 0 2.25rem;
  }

  @include desktop {
    padding: 0 14rem;
  }

  &__video {
    object-fit: contain;
    width: 100%;
    aspect-ratio: 16 /9;
  }
}
