//  Primary Colours:

$BrainFlix-black: #323232;
$BrainFlix-blue: #0095ff;
$Silver: #afafaf;
$White: #ffffff;

// Secondary Colours:

$BrainFlix-DarkBlack: #000000;
$BrainFlix-DarkBlue: #0065ad;
$Mercury: #e1e1e1;
$Alabaster: #fafafa;
