@use "../../styles/global" as *;
@use "../../styles/colours" as *;
@use "../../styles/fonts" as *;
@use "../../styles/media-querries" as *;

.logo {
  background-color: $White;
  max-width: 7.5rem;
  max-height: 25px;
  margin: 1rem;

  @include tablet {
    margin-top: 1.5rem;
    margin-left: 2.5rem;
  }

  @include desktop {
    margin-top: 2rem;
    margin-left: 8.5rem;
  }
}

.logo-container {
  margin: 0 auto;

  @include tablet {
    margin: 0;
  }

  @include desktop {
    margin: 0;
  }
}
