@use "../../styles/global" as *;
@use "../../styles/fonts" as *;
@use "../../styles/colours" as *;
@use "../../styles/media-querries" as *;

.hero-detail {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;

  @include tablet {
    margin: 0 2rem;
  }

  @include desktop {
    margin-top: 1rem;
    margin-left: 7rem;
    margin-right: 0;
  }

  &__title {
    text-align: left;
    border-bottom: 1px solid $Silver;
    padding: 1rem 0;

    @include tablet {
      border: none;
      @include pageHeader();
    }
  }

  &__channel {
    @include mSubHeader();
    padding: 1rem 0 0.5rem 0;
    text-align: left;

    @include tablet {
      @include subHeader();
      padding: 0 1rem 1rem 0;
    }
  }

  &__date {
    @include mBody();
    color: $Silver;
    padding: 0.5rem 0 1rem 0;
    text-align: left;

    @include tablet {
      @include subHeader();
      font-family: "avenir-reg";
      padding: 0 1rem 1rem 1rem;
    }
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid $Silver;
    padding-bottom: 0.5rem;

    @include tablet {
      @include flexDirection(row);
      margin-top: -1rem;
    }

    &--aux {
      display: flex;
      flex-direction: column;

      @include tablet {
        @include flexDirection(row);
        padding-top: 1rem;
      }
    }

    &--soc {
      display: flex;
      flex-direction: column;
      padding-right: 3.5rem;

      @include tablet {
        @include flexDirection(row);
        padding-right: 0rem;
        align-content: flex-start;
      }
    }
  }

  &__view-container {
    display: flex;
    flex-direction: row;
    padding: 1rem 0 0 0;

    @include tablet {
      padding: 0;
    }

    &--view-icon {
      padding: 0 0.75rem;
      @include tablet {
        padding: 0 0.25rem;
      }
    }

    &--views {
      @include mSubHeader();
      color: $Silver;
      font-family: "avenir-reg";
      font-weight: 600;

      @include tablet {
        padding: 1rem;
        @include subHeader();
        font-family: "avenir-reg";
      }
    }
  }

  &__likes-container {
    display: flex;
    flex-direction: row;

    @include tablet {
      padding: 0rem;
    }

    &--likes-icon {
      padding: 0 0.75rem;

      @include tablet {
        padding: 0 0.25rem;
      }
    }

    &--likes {
      @include mSubHeader();
      color: $Silver;
      font-family: "avenir-reg";
      font-weight: 600;

      @include tablet {
        padding: 1rem;
        @include subHeader();
        font-family: "avenir-reg";
      }
    }
  }

  &__des-container {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;

    &--des {
      @include mBody();
      text-align: left;
      margin-bottom: 1rem;

      @include tablet {
        @include subHeader();
        font-family: "avenir-reg";
        padding: 0.25rem;
        margin-bottom: 1.5rem;
      }

      @include desktop {
        margin-bottom: 2.75rem;
      }
    }

    &--num-comments {
      @include mBody();
      text-align: left;
      font-weight: 600;
      margin-bottom: 1rem;

      @include tablet {
        @include subHeader();
        margin-bottom: 1rem;
      }
    }
  }
}
