@use "../../styles/global" as *;
@use "../../styles/colours" as *;
@use "../../styles/fonts" as *;
@use "../../styles/media-querries" as *;

.video-list-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @include tablet {
    margin: 0 2.25rem 1rem 2.25rem;
  }

  @include desktop {
    padding-top: 1.5rem;
    width: 40%;
    border-left: 1px solid $Silver;
  }

  &__title {
    @include mSectionHeader;
    margin: 0.25rem 1rem;
    text-align: left;
    color: $Silver;

    @include tablet {
      @include subHeader;
    }

    @include desktop {
      margin-left: 2rem;
    }
  }
}
