@use "../../styles/global" as *;
@use "../../styles/colours" as *;
@use "../../styles/fonts" as *;
@use "../../styles/media-querries" as *;

.comment-section {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
