@use "../../styles/global" as *;
@use "../../styles/colours" as *;
@use "../../styles/fonts" as *;
@use "../../styles/media-querries" as *;

.header {
  @include flexDirection(column);
  justify-content: space-around;

  @include tablet {
    @include flexDirection(row);
    margin: 1rem 2.25rem;
    height: 4.5rem;
  }

  @include desktop {
    justify-content: space-between;
    margin: 0 9.5rem;
    padding: 1rem;
    height: 6.5rem;
  }
}
