.search {
  display: flex;
  flex-direction: row;

  &__bar {
    min-height: 2.25rem;
    min-width: 15rem;
    max-width: 100%;
  }
}

// #search__bar {
//   min-height: 2.25rem;
//   min-width: 15rem;
//   max-width: 100%;
// }
