@use "../../styles/global" as *;
@use "../../styles/colours" as *;
@use "../../styles/fonts" as *;
@use "../../styles/media-querries" as *;

.search {
  @include flexDirection(row);
  justify-content: space-around;
  position: relative;
  height: 7rem;

  @include tablet {
    margin: 1rem 2.25rem;
    height: max-content;
  }

  @include desktop {
    margin: 0;
    padding: 0;
  }

  &__bar {
    background: url("../../assets/icons/search.svg") 1rem no-repeat;
    background-color: $Alabaster;
    border: 1px solid $Mercury;
    border-radius: 0.25rem;
    font-family: "avenir-reg";
    font-size: 0.75rem;
    color: $Silver;
    font-weight: bold;
    min-height: 2.5rem;
    min-width: 15rem;
    max-width: 100%;
    margin: 0 1rem;
    padding: 0 3rem;

    &:focus {
      outline: none;
      border: 2px solid $Mercury;
    }

    @include desktop {
      margin: 0;
      padding-left: 3rem;
      padding-right: 0;
      width: 35%;
    }
  }

  &__button {
    @include mLabelButton;
    background: url("../../assets/icons/upload.svg") 1rem no-repeat;
    background-color: $BrainFlix-blue;
    color: $White;
    height: 2.5rem;
    width: 90%;
    border: none;
    border-radius: 4px;
    position: absolute;
    bottom: 1rem;
    left: 1rem;

    @include tablet {
      width: 9.375rem;
      position: relative;
      margin-top: 1rem;
      margin-right: 1rem;
      justify-content: space-evenly;
    }

    @include desktop {
      margin: 1rem;
      padding: 0;
    }

    &:hover {
      background-color: $BrainFlix-DarkBlue;
    }
  }
}

.avatar {
  margin-right: 1rem;

  @include tablet {
    margin-left: 1rem;
    margin-right: 0;
  }
}
