@use "../../styles/global" as *;
@use "../../styles/colours" as *;
@use "../../styles/fonts" as *;
@use "../../styles/media-querries" as *;

.comment-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid $Silver;
  border-bottom: 1px solid $Silver;
  padding: 1rem 0.5rem;

  @include tablet {
    padding: 1.5rem 0;
  }

  &__avatar {
    width: 2.25rem;
    height: 2.25rem;
    margin-right: 0.5rem;
    margin-left: -0.25rem;

    @include tablet {
      margin-right: 1.25rem;
    }

    &--img {
      width: 2.25rem;
      height: 2.25rem;
      background-color: $Mercury;
      border-radius: 50%;

      @include tablet {
        height: 2.5rem;
        width: 2.5rem;
      }
    }
  }

  &__comment-info {
    text-align: left;

    &--name {
      @include mSubHeader;

      @include tablet {
        @include subHeader;
      }
    }

    &--timestamp {
      @include mSubHeader;
      font-family: "avenir-reg";
      color: $Silver;

      @include tablet {
        @include subHeader;
        font-family: "avenir-reg";
      }
    }

    &--nd-contain {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 0.25rem;
    }
  }

  &__comment {
    @include mBody;

    @include tablet {
      @include bodyCopy;
      padding-right: 1.25rem;
    }
  }
}
