@use "../../styles/global" as *;
@use "../../styles/colours" as *;
@use "../../styles/fonts" as *;
@use "../../styles/media-querries" as *;

.hero-section {
  width: 100%;

  @include desktop {
    @include flexDirection(column);
    width: 60%;
    margin-left: 2rem;
  }
}
